<div class="row">


  <% @wines.each do |wine| %>
    <div class="wine_tile col-md-4 col-sm-4 col-xs-12 left">
      <img class="wine_img left" src="http://www.bevmo.com/Media/Images/ProductImagesFull/<%= wine.image %>"  alt="bottle">
      <h3><a href="#"> <%= wine.title %> </a> </h3>
      <h4> <%= wine.price %>
        <% if wine.price_sale != "" %>
            | SALE <%= wine.price_sale %>
        <% else %>
          <%= wine.price_sale %>
        <% end %>
      </h4>
      <p> <%= wine.vintage %>, <%= wine.varietal %>
      <br>
      <%= wine.region %>, <%= wine.country %></p>

    </div>
  <% end %>


</div>