<div class="row">
  <div class="col-md-12">

  </div>
</div>

<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <h1>I'm looking for
      <button class="btn btn-default wine_color">red</button>
      <button class="btn btn-default wine_color">white</button>
      <button class="btn btn-default wine_color">rose</button>
    </h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Select Varietal <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <!-- FOR EACH ALL-->
    <% @wines.each do |wine| %>
      <div class="wine_tile col-md-6 col-sm-6 col-xs-12 left">
        <% if wine.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= wine.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= wine.id %>"> <%= wine.title %> </a> </h3>
        <h4> <%= wine.price %>
          <% if wine.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= wine.price_sale %></span>
            </div>
          <% else %>
            <%= wine.price_sale %>
          <% end %>
        </h4>
        <p class="dark">
        <%= wine.company %>, <%= wine.vintage %>
        <br>
        <%= wine.varietal %> — <%= wine.region %>, <%= wine.country %></p>

      </div>
    <% end %>
  </div> <!-- close col-md-9 -->
  <div class="col-md-3 col-sm-3 col-xs-12">
    <h4 class="rec_header">highest score</h4>
    <div class="wine_tile">
      <% if @highestWine.image != nil %>
        <img class="wine_img left" src="http://www.bevmo.com<%= @highestWine.image %>"  alt="bottle">
      <% end %>
      <h3><a href="/wines/<%= @highestWine.id %>"> <%= @highestWine.title %> </a> </h3>
      <h4> <%= @highestWine.price %>
        <% if @highestWine.price_sale != "" %>
          <div>
            <!-- <span class="pipe"> | </span> -->
            <br>
            <span class="sale-price"> SALE <%= @highestWine.price_sale %></span>
          </div>
        <% else %>
          <%= @highestWine.price_sale %>
        <% end %>
      </h4>
      <p class="dark">
      <%= @highestWine.company %>, <%= @highestWine.vintage %>
      <br>
      <%= @highestWine.varietal %> — <%= @highestWine.region %>, <%= @highestWine.country %></p>
    </div>
  </div>
</div>


</div>