
<div class="bleed filter">
  <div class="container">
    <div class="row filters">
      <div class="col-md-12">
        <h1 class="inline-block">Gimme
          <a href="/reds" class="btn-lg btn btn-default wine_color red">Reds</a>
          <a href="/whites" class="btn-lg btn btn-default wine_color white">Whites</a>
          <a href="/roses"class="btn-lg btn btn-default wine_color rose">Roses</a>
        </h1>
        <div class="btn-group right">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Select Varietal <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @allVarietals.each do |av| %>
              <li><a href="#"><%= av %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bleed recommendations">
  <div class="container">
    <div class="row"> <!-- recommended wines -->

    <!-- high score -->
      <div class="wine_tile wine_tile_3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">high score</h4>
        <% if @highestWine.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @highestWine.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @highestWine.id %>"> <%= @highestWine.title %> </a> </h3>
        <h4> <%= @highestWine.price %>
          <% if @highestWine.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @highestWine.price_sale %></span>
            </div>
          <% else %>
            <%= @highestWine.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @highestWine.company %>, <%= @highestWine.vintage %>
        <br>
        <%= @highestWine.varietal %> — <%= @highestWine.region %>, <%= @highestWine.country %></p>

      </div>

    <!-- value wine -->
      <div class="wine_tile wine_tile_3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">Bang for your buck</h4>
        <% if @valueWine.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @valueWine.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @valueWine.id %>"> <%= @valueWine.title %> </a> </h3>
        <h4> <%= @valueWine.price %>
          <% if @valueWine.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @valueWine.price_sale %></span>
            </div>
          <% else %>
            <%= @valueWine.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @valueWine.company %>, <%= @valueWine.vintage %>
        <br>
        <%= @valueWine.varietal %> — <%= @valueWine.region %>, <%= @valueWine.country %></p>
      </div>

      <!-- unique wine -->
      <div class="wine_tile wine_tile_3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">unique</h4>
        <% if @theUnique.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @theUnique.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @theUnique.id %>"> <%= @theUnique.title %> </a> </h3>
        <h4> <%= @theUnique.price %>
          <% if @theUnique.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @theUnique.price_sale %></span>
            </div>
          <% else %>
            <%= @theUnique.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @theUnique.company %>, <%= @theUnique.vintage %>
        <br>
        <%= @theUnique.varietal %> — <%= @theUnique.region %>, <%= @theUnique.country %></p>
      </div>


    </div>
  </div>
</div><!--  end bleed -->


<div class="container">
  <div class="row"> <!-- all wines -->

      <!-- FOR EACH ALL-->
      <div id="wine_tile_container masonry-container content" class="transitions-enabled infinite-scroll clearfix masonry">
      <h4 class="rec_header center">All Zee Wines</h4>
      <!-- how to do i make response in to @wines? -->
        <% @wines.each do |wine| %>
          <%= render "winetile", :wine => wine %>
        <% end %>
      </div>
    </div> <!-- close col-md-9 -->

</div>

</div>