<div class="bleed filter">
  <div class="container">
    <div class="row filters">
      <div class="col-md-12">
        <h1 class="inline-block">Gimme
          <a href="/reds" class="btn-lg btn btn-default wine_color red wine_color_selected">Reds</a>
          <a href="/whites" class="btn-lg btn btn-default wine_color white">Whites</a>
          <a href="/roses"class="btn-lg btn btn-default wine_color rose">Roses</a>
        </h1>
        <div class="btn-group right">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Select Varietal <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @redVarietals.each do |rv| %>
              <li><a href="#"><%= rv %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bleed recommendations">
  <div class="container">
    <div class="row"> <!-- recommended wines -->

    <!-- high score -->
      <div class="wine_tile_3 wine_tile col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">high score</h4>
        <% if @highestRed.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @highestRed.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @highestRed.id %>"> <%= @highestRed.title %> </a> </h3>
        <h4> <%= @highestRed.price %>
          <% if @highestRed.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @highestRed.price_sale %></span>
            </div>
          <% else %>
            <%= @highestRed.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @highestRed.company %>, <%= @highestRed.vintage %>
        <br>
        <%= @highestRed.varietal %> — <%= @highestRed.region %>, <%= @highestRed.country %></p>

      </div>


      <div class="wine_tile_3 wine_tile col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">Bang for your buck</h4>
        <% if @valueRed.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @valueRed.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @valueRed.id %>"> <%= @valueRed.title %> </a> </h3>
        <h4> <%= @valueRed.price %>
          <% if @valueRed.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @valueRed.price_sale %></span>
            </div>
          <% else %>
            <%= @valueRed.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @valueRed.company %>, <%= @valueRed.vintage %>
        <br>
        <%= @valueRed.varietal %> — <%= @valueRed.region %>, <%= @valueRed.country %></p>
      </div>


      <div class="wine_tile_3 wine_tile col-md-4 col-sm-4 col-xs-12">
      <h4 class="rec_header">unique</h4>
        <% if @uniqueRed.image != nil %>
          <img class="wine_img left" src="http://www.bevmo.com<%= @uniqueRed.image %>"  alt="bottle">
        <% end %>
        <h3><a href="/wines/<%= @uniqueRed.id %>"> <%= @uniqueRed.title %> </a> </h3>
        <h4> <%= @uniqueRed.price %>
          <% if @uniqueRed.price_sale != "" %>
            <div>
              <!-- <span class="pipe"> | </span> -->
              <br>
              <span class="sale-price"> SALE <%= @uniqueRed.price_sale %></span>
            </div>
          <% else %>
            <%= @uniqueRed.price_sale %>
          <% end %>
        </h4>
        <p class="dark">

        <%= @uniqueRed.company %>, <%= @uniqueRed.vintage %>
        <br>
        <%= @uniqueRed.varietal %> — <%= @uniqueRed.region %>, <%= @uniqueRed.country %></p>
      </div>


    </div>
  </div>
</div><!--  end bleed -->


<div class="container">
  <div class="row"> <!-- all wines -->

      <!-- FOR EACH ALL-->
      <div id="wine_tile_container">
      <h4 class="rec_header center">All Zee REDS</h4>
      <!-- how to do i make response in to @wines? -->
        <% @reds.each do |wine| %>
          <%= render "winetile", :wine => wine %>
        <% end %>
      </div>
    </div> <!-- close col-md-9 -->

</div>

</div>